<% if !Vote.where('(user_id = ? and article_id = ?)', current_user.id, params[:id]).first %>
  <%= form_with(model: vote) do |form| %>
    <div class='field'>
      <%= form.hidden_field :user_id, :value => current_user.id %>
    </div>
    <div class='field'>
     <%= form.hidden_field :article_id, :value => params[:id] %>
    </div>
    <div class='actions'>
    <%= form.submit 'Vote for Article', style: 'color: orange; background-color: rgba(0, 0, 0, .2); font-wieght: bold;'%>
    </div>
  <% end %>
<%end%>